/*------ VARIABLES ------*/


/*------ IMPORTS ------*/

.navUs {
    -ms-grid-column-span: 2;
    grid-area: navUs;
}

.titleUs {
    grid-area: titleUs;
}

.titleUs img {
    padding: 4rem 0 0 40rem;
    max-width: 70%;
}

.destUs {
    -ms-grid-row-span: 3;
    grid-area: destUs;
    padding-top: 7rem;
}

.imgUs {
    grid-area: imgUs;
    max-width: 85%;
    padding-left: 10rem;
}

.textUs {
    grid-area: textUs;
    padding-left: 10rem;
    padding-right: 5rem;
}

.subTitleUs {
    -ms-grid-column-span: 2;
    grid-area: subTitleUs;
    max-width: 75%;
}

.footerUs {
    -ms-grid-column-span: 2;
    grid-area: footerUs;
}

.grid-aboutUs {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 29rem auto;
    grid-template-columns: 29rem auto;
    -ms-grid-rows: 10rem 18rem 35rem 20rem 15rem 9rem;
    grid-template-rows: 10rem 18rem 35rem 20rem 15rem 9rem;
    grid-template-areas: "navUs navUs" "destUs titleUs" "destUs imgUs" "destUs textUs" "subTitleUs subTitleUs" "footerUs footerUs";
}

.navPort {
    -ms-grid-column-span: 2;
    grid-area: navPort;
}

.titlePort {
    -ms-grid-column-span: 2;
    grid-area: titlePort;
}

.titlePort img {
    width: 60%;
    padding-top: 8rem;
    padding-left: 32rem;
}

.destPort {
    -ms-grid-row-span: 2;
    grid-area: destPort;
    width: 86%;
    padding-top: 90rem;
}

.imgPort {
    grid-area: imgPort;
}

.gallery img {
    width: 100%;
}

.gallery .col-lg-3 {
    padding: 2.5rem;
    margin-left: 4rem;
}

.textPort {
    grid-area: textPort;
    margin: 7rem 20rem 0 20rem;
}

.subPort {
    -ms-grid-column-span: 2;
    grid-area: subPort;
    width: 70%;
    padding-top: 8rem;
    padding-left: 10rem;
}

.footerPort {
    background-color: #205d8c;
    -ms-grid-column-span: 2;
    grid-area: footerPort;
}

.grid-portfolio {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 17rem auto;
    grid-template-columns: 17rem auto;
    -ms-grid-rows: 10rem 29rem 20rem 324rem 14rem 10rem;
    grid-template-rows: 10rem 29rem 20rem 324rem 14rem 10rem;
    grid-template-areas: "navPort navPort" "titlePort titlePort" "destPort textPort" "destPort imgPort" "subPort subPort" "footerPort footerPort";
}


/*EFFECTS*/

.gallery-container {
    width: 33%;
    padding: 2rem;
    margin-left: 8rem;
}

.gallery-container figure {
    position: relative;
    width: 29rem;
    overflow: hidden;
    border-radius: 0.6rem;
    -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gallery-container figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.gallery-container figure .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 168, 111, 0.6);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gallery-container figure:hover>.layer {
    opacity: 1;
    visibility: visible;
}

.gallery-container figure:hover>.layer h3 {
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.gallery-container figure .layer h3 {
    color: #fff;
    font-weight: 40rem;
    margin-bottom: 12rem;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    margin-top: 2rem;
}

.gallery-container figure .layer p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    max-width: 22rem;
    margin: auto;
}

.gallery-container figure:hover>img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.navProd {
    -ms-grid-column-span: 2;
    grid-area: navProd;
}

.titleProd {
    grid-area: titleProd;
}

.titleProd img {
    width: 77%;
    padding-top: 5rem;
}

.destProd {
    -ms-grid-row-span: 2;
    grid-area: destProd;
    width: 66%;
    padding-top: 7rem;
}

.imgProd {
    grid-area: imgProd;
    margin: 4rem 22rem 0 0;
}

.subProd {
    -ms-grid-column-span: 2;
    grid-area: subProd;
    width: 82%;
    margin-top: 19rem;
}

.footerProd {
    grid-area: footerProd;
    background-color: #8c364a;
}

.grid-products {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 29rem;
    grid-template-columns: auto 29rem;
    -ms-grid-rows: 10rem 16rem 54rem 27rem 10rem;
    grid-template-rows: 10rem 16rem 54rem 27rem 10rem;
    grid-template-areas: "navProd navProd" "titleProd destProd" "imgProd destProd" "subProd subProd" "footerUs footerUs";
}

.accordion-button {
    position: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1.25rem;
    font-size: 3rem;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, border-radius .15s ease, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, border-radius .15s ease, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease, -webkit-box-shadow .15s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navRes {
    -ms-grid-column-span: 2;
    grid-area: navRes;
}

.titleRes {
    width: 100%;
    -ms-grid-column-span: 2;
    grid-area: titleRes;
}

.titleRes img {
    padding: 4rem 0 0 80rem;
}

.destRes {
    width: 80%;
    -ms-grid-row-span: 2;
    grid-area: destRes;
}

.imgRes {
    grid-area: imgRes;
}

.card {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

.card-title {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: end;
}

.textRes {
    grid-area: textRes;
    margin: 7rem 20rem 0 20rem;
}

.subRes {
    -ms-grid-column-span: 2;
    grid-area: subRes;
    width: 79%;
    padding-left: 20rem;
    padding-top: 14rem;
}

.footerRes {
    -ms-grid-column-span: 2;
    grid-area: footerRes;
}

.grid-resources {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 13rem auto;
    grid-template-columns: 13rem auto;
    -ms-grid-rows: 10rem 18rem 24rem 70rem 20rem 10rem;
    grid-template-rows: 10rem 18rem 24rem 70rem 20rem 10rem;
    grid-template-areas: "navRes navRes" "titleRes titleRes" "destRes  textRes" "destRes imgRes" "subRes subRes" "footerRes footerRes";
}


/* GENERAL SETUPS*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--med);
    line-height: var(--large);
}

h2 {
    font-family: 'Antic Didone', serif;
    font-size: var(--small);
}

p {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #282525;
}

li {
    list-style: none;
}


/* ---- BUTTONS ---- */

.btn {
    font-size: var(--bot);
}

.btn-light {
    background-color: var(--white);
}

.btn-light_effect:hover {
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0.7rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.btn-light_effectLink {
    background-color: var(--secondary);
    border-radius: 0.6rem;
    color: var(--white);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


/* MAIN NAVEGATION */

.nav--container {
    position: fixed;
    height: 9rem;
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--white);
}

.nav--container a {
    color: var(--secondary);
}

.navbar-position_list {
    padding-right: 10rem;
}

.nav--links {
    width: 90rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav--logo__size {
    width: 29rem;
    padding-left: 10rem;
}

.nav--social {
    width: 25rem;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.nav--social img {
    height: 2rem;
}

.nav--social li {
    padding-left: 6rem;
}

.nav--social__effect a img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navbar-toggler {
    color: var(--white);
    background: none;
    border: none;
    font-size: var(--med);
}

@media (max-width: 768px) {
    body {
        background-color: gainsboro;
    }
    .navbar {
        background-color: #822929;
        height: 8rem;
    }
    .navbar ul {
        background-color: #fff;
        margin-top: 0;
    }
    .nav--logo__size {
        width: 26rem;
        padding: 0 0 0 1rem;
    }
    .nav--container {
        padding-left: 0;
    }
}


/* ---- COMPLETE GRID INDEX ---- */

.grid-container-index {
    background-color: var(--white);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 9rem 60rem 9rem 34rem 34rem 9rem 38rem 30rem 9rem 24rem 24rem 20rem 9rem 28rem 40rem 9rem 30rem 28rem 11rem;
    grid-template-rows: 9rem 60rem 9rem 34rem 34rem 9rem 38rem 30rem 9rem 24rem 24rem 20rem 9rem 28rem 40rem 9rem 30rem 28rem 11rem;
    grid-template-areas: "topNav topNav topNav topNav topNav topNav" "intro intro intro intro intro intro" "ab-inside ab-inside ab-inside ab-inside ab-inside ab-inside" "abPhoto abPhoto abPhoto abTitle abTitle abTitle" "abPhoto abPhoto abPhoto abText abText abLink" "prod-inside prod-inside prod-inside prod-inside prod-inside prod-inside" "prodTitle prodTitle prodText prodText prodPhoto prodPhoto" "prodLink prodLink prodText prodText prodPhoto prodPhoto" "res-inside res-inside res-inside res-inside res-inside res-inside" "resTitle resTitle resTitle resTitle resTitle resTitle" "resLink resText resText resText resText resText" "resPhoto resPhoto resPhoto resPhoto resPhoto resPhoto" "port-inside port-inside port-inside port-inside port-inside port-inside" "portTitle portTitle portTitle portTitle portText portText" "portPhoto portPhoto portPhoto portLink portText portText" "cont-inside cont-inside cont-inside cont-inside cont-inside cont-inside" "cont-space cont-space contTitle contTitle contPhoto contPhoto" "cont-space cont-space contText contText contPhoto contPhoto" "footer footer footer footer footer footer";
}


/* ---- 1. SECTION INTRO INDEX ---- */

.topNav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: topNav;
    max-width: 100%;
    height: 8rem;
}

.intro {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: intro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro img {
    width: 80rem;
    margin-top: 20rem;
}


/* ---- 2. SECTION ABOUT US INDEX---- */

.ab-inside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: ab-inside;
    max-width: 100%;
}

.abPhoto {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: abPhoto;
}

.abPhoto {
    padding-top: 13rem;
    max-width: 80rem;
    margin-top: 6rem;
}

.abPhoto img {
    -webkit-box-shadow: 2px 2px 30px #a3a0a0;
    box-shadow: 2px 2px 30px #a3a0a0;
}

.abTitle {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: abTitle;
    margin-top: 6rem;
    padding-top: 6rem;
    max-width: 40rem;
}

.abText {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: abText;
    padding: 6rem 5rem 0 3rem;
    font-size: var(--small);
    margin-top: 5rem;
}

.abLink {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
    grid-area: abLink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15rem;
}


/* ---- 3. SECTION PRODUCT INDEX---- */

.prod-inside {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: prod-inside;
    max-width: 100%;
}

.prodPhoto {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: prodPhoto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 7rem;
}

.prodPhoto img {
    -webkit-box-shadow: 2px 2px 30px #a3a0a0;
    box-shadow: 2px 2px 30px #a3a0a0;
}

.prodTitle {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: prodTitle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 24rem;
    padding-left: 10rem;
}

.prodText {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: prodText;
    padding: 20rem 10rem 0 9rem;
    font-size: var(--small);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.prodLink {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: prodLink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 3rem;
    margin-top: 7rem;
}


/* ---- 4. SECTION RESOURCES INDEX---- */

.res-inside {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: res-inside;
    max-width: 100%;
}

.resPhoto {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: resPhoto;
    padding-top: 2.2rem;
}

.resPhoto img {
    -webkit-box-shadow: 2px 2px 30px #a3a0a0;
    box-shadow: 2px 2px 30px #a3a0a0;
}

.resTitle {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: resTitle;
    position: relative;
    max-width: 80rem;
    margin-top: 4rem;
    padding-top: 7.5rem;
    padding-left: 55rem;
}

.resText {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: resText;
    font-size: var(--small);
    padding: 2rem 50rem 0 20rem;
    margin-top: 6rem;
}

.resLink {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: resLink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 2rem;
    padding-bottom: 7rem;
}


/* ---- 5. SECTION PORTFOLIO INDEX---- */

.port-inside {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: port-inside;
    max-width: 100%;
}

.portPhoto {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: portPhoto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portPhoto img {
    -webkit-box-shadow: 2px 2px 30px #a3a0a0;
    box-shadow: 2px 2px 30px #a3a0a0;
}

.portTitle {
    -ms-grid-row: 14;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: portTitle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    max-width: 80rem;
    padding: 6rem 0 0 17rem;
}

.portText {
    -ms-grid-row: 14;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: portText;
    font-size: var(--small);
    padding: 26rem 8rem 0 0;
}

.portLink {
    -ms-grid-row: 15;
    -ms-grid-column: 4;
    grid-area: portLink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15rem;
}


/* ---- 6. SECTION CONTACT INDEX---- */

.cont-inside {
    -ms-grid-row: 16;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: cont-inside;
    max-width: 100%;
}

.contPhoto {
    -ms-grid-row: 17;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: contPhoto;
}

.contPhoto img {
    width: 60rem;
    margin-top: 10rem;
    -webkit-box-shadow: 2px 2px 30px #a3a0a0;
    box-shadow: 2px 2px 30px #a3a0a0;
}

.contTitle {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: contTitle;
    padding-top: 10.5rem;
    padding-left: 8rem;
    max-width: 50rem;
}

.contText {
    -ms-grid-row: 18;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: contText;
    font-size: var(--small);
    padding: 9rem 3rem 0 8rem;
}

.cont-space {
    -ms-grid-row: 17;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cont-space;
    background-color: var(--white);
    border-radius: 2rem;
}


/* -----CONTACT FORM ------*/

.contact-form {
    width: 40rem;
    background-color: var(--gray);
    padding: 3rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #262218;
    -webkit-box-shadow: 0.2rem 0.2rem 3rem #a3a0a0;
    box-shadow: 0.2rem 0.2rem 3rem #a3a0a0;
}

.contact-form h4 {
    font-size: 22pxvar var(--med);
    margin-bottom: 1rem;
}

.controls-form {
    width: 100%;
    background-color: #faf8f8;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #e0e1e3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--small);
    color: #e0e1e3;
}

.form-buttons {
    width: 40%;
    background-color: var(--secondary);
    border: none;
    padding: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
    color: white;
    font-size: var(--small);
    border-radius: 0.5rem;
}

textarea {
    min-height: 10rem;
    max-height: 20rem;
    max-width: 103%;
    border: none;
    border-radius: 0.5rem;
    background-color: #faf8f8;
}

.button-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
}

#form-butt {
    background-color: var(--primary);
    border: none;
    color: white;
}

#form-butt:hover {
    cursor: pointer;
}

@media (max-width: 580px) {
    form {
        width: 100%;
    }
}


/* ---- FOOTER ---- */

.footer-container {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: footer;
    height: 9rem;
    background-image: -webkit-gradient(linear, right top, left top, from(#020202), color-stop(#383535), to(#161515));
    background-image: linear-gradient(to left, #020202, #383535, #161515);
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4rem 0 4rem;
}


/* ----  MEDIA QUERIES ---- */


/*  481 to 575 */

@media screen and (max-width: 575px) {
    .grid-container-index {
        background-color: var(--white);
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
        -ms-grid-rows: (15rem)[22];
        grid-template-rows: repeat(22, 15rem);
        grid-template-areas: "topNav" "intro" "aboutTitle" "aboutPic" "aboutText" "aboutLink" "prodTitle" "prodPhoto" "prodText" "prodLink" "resTitle" "resPhoto" "resText" "resLink" "portTitle" "portPhoto" "portText" "portLink" "contTitle" "contPhoto" "contText" "footer";
    }
    .intro {
        width: 30rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
}


/*  576 to 768 */


/*  769 to 992 */


/*  993 to 1200 */


/*  1201 to 1400 */


/*  1401 ahead */


/*# sourceMappingURL=main.css.map */