/* GENERAL SETUPS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary: #F39200;
    --secondary: #808080;
    --white: #ffffff;
    --black: #000000;
    --gray: #D1D1D1;
    --small: 1.3rem;
    --med: 2.2rem;
    --large: 3.1rem;
    --bot: 1.7rem
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--med);
    line-height: var(--large);
}


/* @media(min-width:XXX px) {} */

h2 {
    font-family: 'Antic Didone', serif;
    font-size: var(--small)
}


/* @media(min-width:XXX px) {} */

p {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(40, 37, 37);
}

li {
    list-style: none;
}


/* ---- BUTTONS ---- */

.btn {
    font-size: var(--bot);
}

.btn-light {
    background-color: var(--white);
}

.btn-light_effect:hover {
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0.7rem;
    transition: 0.5s;
    transform: scale(1.12);
}

.btn-light_effectLink {
    background-color: var(--secondary);
    border-radius: 0.6rem;
    color: var(--white);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


/* MAIN NAVEGATION */

.nav--container {
    position: fixed;
    height: 9rem;
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--white);
}


/* @media(min-width:XXX px) {} */

.nav--container a {
    color: var(--secondary);
}

.navbar-position_list {
    padding-right: 10rem;
}


/* @media(min-width:XXX px) {} */

.nav--links {
    width: 90rem;
    display: flex;
    justify-content: space-around;
}


/* @media(min-width:XXX px) {} */

.nav--logo__size {
    width: 29rem;
    padding-left: 10rem;
}


/* @media(min-width:XXX px) {} */

.nav--social {
    width: 25rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 300ms;
}


/* @media(min-width:XXX px) {} */

.nav--social img {
    height: 2rem;
}


/* @media(min-width:XXX px) {} */

.nav--social li {
    padding-left: 6rem;
}


/* @media(min-width:XXX px) {} */

.nav--social__effect a img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


/* @media(min-width:XXX px) {} */

.navbar-toggler {
    color: var(--white);
    background: none;
    border: none;
    font-size: var(--med);
}


/* @media(min-width:XXX px) {} */


/* ---- COMPLETE GRID INDEX ---- */

.grid-container-index {
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 9rem 60rem 9rem 34rem 34rem 9rem 38rem 30rem 9rem 24rem 24rem 20rem 9rem 28rem 40rem 9rem 30rem 28rem 11rem;
    grid-template-areas: "topNav topNav topNav " "intro intro intro" "ab-inside ab-inside ab-inside " "abPhoto abTitle abLink " "abPhoto abText abLink" "prod-inside prod-inside prod-inside" "prodTitle prodText prodPhoto" "prodLink  prodText prodPhoto" "res-inside res-inside res-inside" "resTitle resTitle resTitle" "resLink resText resText" "resPhoto resPhoto resPhoto" "port-inside port-inside port-inside""portPhoto portTitle portTitle" "portPhoto portLink portText" "cont-inside cont-inside cont-inside" "cont-space contTitle contPhoto" "cont-space contText contPhoto" "footer footer footer";
}


/* @media(min-width:XXX px) {} */


/* ---- 1. SECTION INTRO INDEX ---- */

.topNav {
    grid-area: topNav;
    max-width: 100%;
    height: 7rem;
}


/* @media(min-width:XXX px) {} */

.intro {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* @media(min-width:XXX px) {} */

.intro img {
    width: 70rem;
    margin-top: 14rem;
}


/* @media(min-width:XXX px) {} */


/* ---- 2. SECTION ABOUT US INDEX---- */

.ab-inside {
    grid-area: ab-inside;
    max-width: 100%;
}

.abPhoto {
    grid-area: abPhoto;
}

.abPhoto {
    max-width: 70rem;
    margin-top: 16rem;
}


/* @media(min-width:XXX px) {} */

.abPhoto img {
    box-shadow: 2px 2px 30px #a3a0a0;
}

.abTitle {
    grid-area: abTitle;
    margin: 12rem 0 0 2rem;
    padding-top: 0rem;
    max-width: 45rem;
}


/* @media(min-width:XXX px) {} */

.abText {
    grid-area: abText;
    padding: 16rem 5rem 0 3rem;
    font-size: var(--small);
}


/* @media(min-width:XXX px) {} */

.abLink {
    grid-area: abLink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-right: 30rem;
}


/* @media(min-width:XXX px) {} */


/* ---- 3. SECTION PRODUCT INDEX---- */

.prod-inside {
    grid-area: prod-inside;
    max-width: 100%;
}


/* @media(min-width:XXX px) {} */

.prodPhoto {
    grid-area: prodPhoto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 7rem;
}


/* @media(min-width:XXX px) {} */

.prodPhoto img {
    box-shadow: 2px 2px 30px #a3a0a0;
}


/* @media(min-width:XXX px) {} */

.prodTitle {
    grid-area: prodTitle;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 24rem;
    padding-left: 10rem;
}


/* @media(min-width:XXX px) {} */

.prodText {
    grid-area: prodText;
    padding: 20rem 10rem 0 9rem;
    font-size: var(--small);
    display: flex;
    justify-content: flex-end;
    align-items: end;
}


/* @media(min-width:XXX px) {} */

.prodLink {
    grid-area: prodLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3rem;
    margin-top: 7rem;
}


/* @media(min-width:XXX px) {} */


/* ---- 4. SECTION RESOURCES INDEX---- */

.res-inside {
    grid-area: res-inside;
    max-width: 100%;
}


/* @media(min-width:XXX px) {} */

.resPhoto {
    grid-area: resPhoto;
    margin-top: 10rem;
}


/* @media(min-width:XXX px) {} */

.resPhoto img {
    box-shadow: 2px 2px 30px #a3a0a0;
}


/* @media(min-width:XXX px) {} */

.resTitle {
    grid-area: resTitle;
    max-width: 95rem;
    padding-top: 15rem;
    padding-left: 50rem;
}


/* @media(min-width:XXX px) {} */

.resText {
    grid-area: resText;
    font-size: var(--small);
    padding: 1rem 50rem 0 18rem;
    margin-top: 13rem;
}


/* @media(min-width:XXX px) {} */

.resLink {
    grid-area: resLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    padding-top: 18rem;
}


/* @media(min-width:XXX px) {} */


/* ---- 5. SECTION PORTFOLIO INDEX---- */

.port-inside {
    grid-area: port-inside;
    max-width: 100%;
}


/* @media(min-width:XXX px) {} */

.portPhoto {
    grid-area: portPhoto;
    padding-top: 20rem;
}


/* @media(min-width:XXX px) {} */

.portPhoto img {
    box-shadow: 2px 2px 30px #a3a0a0;
}


/* @media(min-width:XXX px) {} */

.portTitle {
    grid-area: portTitle;
    max-width: 80rem;
    padding: 15rem 0 0 17rem;
}


/* @media(min-width:XXX px) {} */

.portText {
    grid-area: portText;
    font-size: var(--small);
    padding: 20rem 8rem 0 0;
}


/* @media(min-width:XXX px) {} */

.portLink {
    grid-area: portLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    margin-right: 23rem;
}


/* @media(min-width:XXX px) {} */


/* ---- 6. SECTION CONTACT INDEX---- */

.cont-inside {
    grid-area: cont-inside;
    max-width: 100%;
}


/* @media(min-width:XXX px) {} */

.contPhoto {
    grid-area: contPhoto;
}

.contPhoto img {
    width: 50rem;
    margin-top: 10rem;
    box-shadow: 2px 2px 30px #a3a0a0;
}


/* @media(min-width:XXX px) {} */

.contTitle {
    grid-area: contTitle;
    padding-top: 10.5rem;
    padding-left: 4rem;
    max-width: 50rem;
}


/* @media(min-width:XXX px) {} */

.contText {
    grid-area: contText;
    font-size: var(--small);
    padding: 9rem 3rem 0 3rem;
}


/* @media(min-width:XXX px) {} */

.cont-space {
    grid-area: cont-space;
}


/* @media(min-width:XXX px) {} */


/* -----CONTACT FORM ------*/

.contact-form {
    width: 40rem;
    background-color: ;
    padding: 3rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(38, 34, 24);
    box-shadow: 0.2rem 0.2rem 3rem #b8b7b7;
}


/* @media(min-width:XXX px) {} */

.contact-form h4 {
    font-size: var(--med);
    margin-bottom: 1rem;
}


/* @media(min-width:XXX px) {} */

.controls-form {
    width: 100%;
    background-color: rgb(250, 248, 248);
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #e0e1e3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--small);
    color: #e0e1e3;
}


/* @media(min-width:XXX px) {} */

.form-buttons {
    width: 40%;
    background-color: var(--secondary);
    border: none;
    padding: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
    color: white;
    font-size: var(--small);
    border-radius: 0.5rem;
}


/* @media(min-width:XXX px) {} */

textarea {
    min-height: 10rem;
    max-height: 20rem;
    max-width: 103%;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(250, 248, 248);
    ;
}


/* @media(min-width:XXX px) {} */

.button-design {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


/* @media(min-width:XXX px) {} */

#form-butt {
    background-color: var(--primary);
    border: none;
    color: white;
}


/* @media(min-width:XXX px) {} */

#form-butt:hover {
    cursor: pointer;
}


/* @media(min-width:XXX px) {} */


/* ---- FOOTER ---- */

.footer-container {
    grid-area: footer;
    height: 9rem;
    background-image: linear-gradient(to left, rgb(2, 2, 2), rgb(56, 53, 53), rgb(22, 21, 21));
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem 0 4rem;
}


/* @media(min-width:XXX px) {} */


/* ----  MEDIA QUERIES ---- */


/*  0 to 575 */

@media (max-width:576px) {
    .grid-container-index {
        background-color: #5575df;
    }
}


/*  576 to 767 */

@media (min-width:576px) {
    .grid-container-index {
        background-color: #e9448c;
    }
}


/*  768 to 991 */

@media (min-width:768px) {
    .grid-container-index {
        background-color: #36e4a1;
    }
}


/*  992 to 1199 */

@media (min-width:992px) {
    .grid-container-index {
        background-color: #8c6ec4;
    }
}


/* @media(min-width:XXX px) {} */


/*  1200 to 1400  */

@media (min-width: 1200px) {
    .grid-container-index {
        background-color: #a79479;
    }
}


/*  1401 above */

@media (min-width:1401px) {
    .grid-container-index {
        background-color: #f5c2bc;
    }
}