    /* GENERAL SETUPS*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        background-color: white;
    }
    
    h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.8rem;
        line-height: 3.3rem;
    }
    
    h2 {
        font-family: 'Antic Didone', serif;
        font-size: 1rem
    }
    
    p {
        font-family: 'Quicksand', sans-serif;
    }
    
    a {
        text-decoration: none;
        color: rgb(40, 37, 37);
        a:hover {
            color: rgb(255, 255, 255);
        }
    }
    
    li {
        list-style: none;
    }
    /* MAIN NAVEGATION */
    
    .nav-container {
        position: fixed;
        height: 90px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        background-color: #fff;
        .nav-container a {
            color: rgb(97, 97, 97);
            padding: 0.3rem;
        }
    }
    
    .nav-links {
        width: 900px;
        display: flex;
        justify-content: space-around;
    }
    
    .nav-social {
        width: 250px;
        margin-right: 70px;
        display: flex;
        justify-content: space-between;
        transition: all 300ms;
        .nav-social_effect a img:hover {
            transform: scale(1.09);
        }
    }
    /* GRID COMPLETE */
    
    .topNav {
        grid-area: topNav;
        width: 100vw;
        height: 80px;
    }
    
    .about-inside {
        grid-area: about-inside;
        width: 100vw;
    }
    
    .product-inside {
        grid-area: product-inside;
        width: 100vw;
    }
    
    .resources-inside {
        grid-area: resources-inside;
        width: 100vw;
    }
    
    .port-inside {
        grid-area: port-inside;
        width: 100vw;
    }
    
    .contact-inside {
        grid-area: contact-inside;
        width: 100vw;
    }
    
    .intro {
        grid-area: intro;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
    }
    
    .aboutPic {
        grid-area: aboutPic;
        .aboutPic img {
            padding-top: 120px;
            transition: all 300ms;
        }
    }
    
    .aboutTitle {
        grid-area: aboutTitle;
        padding-top: 20px;
    }
    
    .aboutText {
        grid-area: aboutText;
        padding-left: 30px;
        padding-right: 50px;
        font-size: 1.6rem;
        line-height: 2;
    }
    
    .aboutLink {
        grid-area: aboutLink;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 150px;
    }
    
    .prodPhoto {
        grid-area: prodPhoto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .prodTitle {
        grid-area: prodTitle;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 140px;
        padding-left: 100px;
    }
    
    .prodText {
        grid-area: prodText;
        padding: 200px 100px 0 90px;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        line-height: 2;
    }
    
    .prodLink {
        grid-area: prodLink;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 70px;
    }
    
    .resPhoto {
        grid-area: resPhoto;
    }
    
    .resTitle {
        grid-area: resTitle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .resText {
        grid-area: resText;
        font-size: 1.6rem;
        padding: 2rem 5rem 0 5rem;
        line-height: 2;
    }
    
    .resLink {
        grid-area: resLink;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    
    .portPhoto {
        grid-area: portPhoto;
        display: flex;
    }
    
    .portTitle {
        grid-area: portTitle;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-top: 3rem;
        padding-right: 2rem;
    }
    
    .portText {
        grid-area: portText;
        font-size: 1.6rem;
        padding: 200px 70px 0 50px;
        line-height: 2;
    }
    
    .portLink {
        grid-area: portLink;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 150px;
    }
    
    .contPhoto {
        grid-area: contPhoto;
        display: flex;
        justify-content: flex-end;
        .contPhoto img {
            width: 600px;
        }
    }
    
    .contTitle {
        grid-area: contTitle;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-top: 5rem;
        padding-right: 5rem;
        .contTitle img {
            height: 160px;
            margin-top: 30px;
        }
    }
    
    .contText {
        grid-area: contText;
        font-size: 1.6rem;
        padding: 10px 30px 0 120px;
        line-height: 2;
    }
    
    .contact-space {
        grid-area: contact-space;
        padding-top: 240px;
        padding-left: 90px;
        margin-left: 20px;
        padding-right: 30px;
    }
    
    footer {
        grid-area: footer;
        height: 90px;
        background-image: linear-gradient(to left, rgb(2, 2, 2), rgb(56, 53, 53), rgb(22, 21, 21));
        color: azure;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grid-container-index {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 90px 680px 90px 340px 340px 90px 380px 300px 90px 240px 240px 200px 90px 280px 400px 0px 300px 290px 110px;
        grid-template-areas: "topNav topNav topNav topNav topNav topNav""intro intro intro intro intro intro" "about-inside about-inside about-inside about-inside about-inside about-inside" "aboutPic aboutPic aboutPic aboutTitle aboutTitle aboutTitle" "aboutPic aboutPic aboutPic aboutText aboutText aboutLink" "product-inside product-inside product-inside product-inside product-inside product-inside""prodTitle prodTitle prodText prodText prodPhoto prodPhoto" "prodLink prodLink prodText prodText prodPhoto prodPhoto" "resources-inside resources-inside resources-inside resources-inside resources-inside resources-inside""resTitle resTitle resTitle resTitle resTitle resTitle" "resLink resText resText resText resText resText" "resPhoto resPhoto resPhoto resPhoto resPhoto resPhoto" "port-inside port-inside port-inside port-inside port-inside port-inside""portTitle portTitle portTitle portTitle portText portText" "portPhoto portPhoto portPhoto portLink portText portText" "contact-inside contact-inside contact-inside contact-inside contact-inside contact-inside" "contact-space contact-space contTitle contTitle contTitle contTitle" "contact-space contact-space contText contText contPhoto contPhoto" "footer footer footer footer footer footer"
    }
    
    .topNav_us {
        grid-area: topNav_us;
        width: 100vw;
        height: 80px;
    }
    
    .mar_left {
        grid-area: mar_left;
        background-color: black;
    }
    
    .grid-container-aboutus {
        background-color: white;
        display: grid;
        grid-template-columns: (1fr, 420px, 330px, 555px, 1fr);
        grid-template-rows: 90px, 135px, 300px, 256px, 135px, 245px, 250px, 215px, 90px;
        grid-template-areas: "topNav_us topNav_us topNav_us topNav_us topNav_us""mar_left title_us title_us title_us mar_right""mar_left text_us1 dest_us img_us1 mar_right""mar_left text_us1 dest_us img_us1 mar_right""mar_left text_us1 dest_us img_us1 mar_right""mar_left img_us2 img_us2 text_us2 mar_right""mar_left img_us2 img_us2 text_us2 mar_right""mar_left subtit_us subtit_us subtit_us mar_right""footer_us footer_us footer_us footer_us footer_us";
    }