/* GENERAL SETUPS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    line-height: 3.3rem;
}

h2 {
    font-family: 'Antic Didone', serif;
    font-size: 1rem
}

p {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(40, 37, 37);
}

li {
    list-style: none;
}


/* ---- BUTTONS ---- */

.btn-light {
    background-color: white;
}

.btn-light_effect:hover {
    font-weight: bold;
    color: white;
    background-color: #F7A835;
    border-radius: 7px;
    transition: 0.5s;
    transform: scale(1.12);
}

.btn-light_effectLink {
    background-color: #676461;
    border-radius: 6px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


/* MAIN NAVEGATION */

.nav--container {
    position: fixed;
    height: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
}

.nav--container a {
    color: rgb(97, 97, 97);
}

.navbar-position_list {
    padding-right: 100px;
}

.nav--links {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.nav--logo__size {
    width: 18rem;
    padding-left: 100px;
}

.nav--social {
    width: 250px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms;
}

.nav--social__effect a img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


/* ---- COMPLETE GRID INDEX ---- */

.grid-container-index {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 90px 680px 90px 340px 340px 90px 380px 300px 90px 240px 240px 200px 90px 280px 400px 0px 300px 290px 110px;
    grid-template-areas: "topNav topNav topNav topNav topNav topNav""intro intro intro intro intro intro" "about-inside about-inside about-inside about-inside about-inside about-inside" "aboutPic aboutPic aboutPic aboutTitle aboutTitle aboutTitle" "aboutPic aboutPic aboutPic aboutText aboutText aboutLink" "product-inside product-inside product-inside product-inside product-inside product-inside""prodTitle prodTitle prodText prodText prodPhoto prodPhoto" "prodLink prodLink prodText prodText prodPhoto prodPhoto" "resources-inside resources-inside resources-inside resources-inside resources-inside resources-inside""resTitle resTitle resTitle resTitle resTitle resTitle" "resLink resText resText resText resText resText" "resPhoto resPhoto resPhoto resPhoto resPhoto resPhoto" "port-inside port-inside port-inside port-inside port-inside port-inside""portTitle portTitle portTitle portTitle portText portText" "portPhoto portPhoto portPhoto portLink portText portText" "contact-inside contact-inside contact-inside contact-inside contact-inside contact-inside" "contact-space contact-space contTitle contTitle contTitle contTitle" "contact-space contact-space contText contText contPhoto contPhoto" "footer footer footer footer footer footer"
}


/* ---- 1. SECTION INTRO INDEX ---- */

.topNav {
    grid-area: topNav;
    width: 100vw;
    height: 80px;
}

.intro {
    grid-area: intro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 800px
}


/* ---- 2. SECTION ABOUT US INDEX---- */

.about-inside {
    grid-area: about-inside;
    width: 100vw;
}

.aboutPic {
    grid-area: aboutPic;
}

.aboutPic {
    padding-top: 130px;
    max-width: 800px;
}

.aboutTitle {
    grid-area: aboutTitle;
    padding-top: 60px;
    max-width: 400px;
}

.aboutText {
    grid-area: aboutText;
    padding: 60px 50px 0 30px;
    font-size: 1.6rem;
    line-height: 2;
}

.aboutLink {
    grid-area: aboutLink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}


/* ---- 3. SECTION PRODUCT INDEX---- */

.product-inside {
    grid-area: product-inside;
    width: 100vw;
}

.prodPhoto {
    grid-area: prodPhoto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prodTitle {
    grid-area: prodTitle;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 240px;
    padding-left: 100px;
}

.prodText {
    grid-area: prodText;
    padding: 200px 100px 0 90px;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    line-height: 2;
}

.prodLink {
    grid-area: prodLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}


/* ---- 4. SECTION RESOURCES INDEX---- */

.resources-inside {
    grid-area: resources-inside;
    width: 100vw;
}

.resPhoto {
    grid-area: resPhoto;
    padding-top: 22px;
}

.resTitle {
    grid-area: resTitle;
    position: relative;
    max-width: 900px;
    padding-top: 75px;
    padding-left: 550px;
}

.resText {
    grid-area: resText;
    font-size: 1.6rem;
    padding: 2rem 5rem 0 5rem;
    line-height: 2;
}

.resLink {
    grid-area: resLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 70px;
}


/* ---- 5. SECTION PORTFOLIO INDEX---- */

.port-inside {
    grid-area: port-inside;
    width: 100vw;
}

.portPhoto {
    grid-area: portPhoto;
    display: flex;
}

.portTitle {
    grid-area: portTitle;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    max-width: 900px;
    padding: 70px 0 0 100px;
}

.portText {
    grid-area: portText;
    font-size: 1.6rem;
    padding: 200px 70px 0 50px;
    line-height: 2;
}

.portLink {
    grid-area: portLink;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 150px;
}


/* ---- 6. SECTION CONTACT INDEX---- */

.contact-inside {
    grid-area: contact-inside;
    width: 100vw;
}

.contPhoto {
    grid-area: contPhoto;
    display: flex;
}

.contTitle {
    grid-area: contTitle;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-top: 80px;
    padding-right: 400px;
}

.contTitle img {
    padding-top: 70px;
    padding-left: 100px;
}

.contText {
    grid-area: contText;
    font-size: 1.6rem;
    padding: 10px 30px 0 120px;
    line-height: 2;
}

.contact-space {
    grid-area: contact-space;
    padding: 70px 80px 460px 70px;
    margin: 130px 10px 0 100px;
    background-color: #f7f7f7;
    border-radius: 20px;
}


/* ---- FOOTER ---- */

footer {
    grid-area: footer;
    height: 90px;
    background-image: linear-gradient(to left, rgb(2, 2, 2), rgb(56, 53, 53), rgb(22, 21, 21));
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----  MEDIA QUERIES ---- */


/*  481 to 575 */

@media screen and (max-width:575px) {
    .grid-container-index {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(22, 15rem);
        grid-template-areas: "topNav" "intro" "aboutTitle" "aboutPic" "aboutText" "aboutLink" "prodTitle" "prodPhoto" "prodText" "prodLink" "resTitle" "resPhoto""resText" "resLink" "portTitle" "portPhoto" "portText" "portLink" "contTitle" "contPhoto" "contText" "footer"
    }
    .intro {
        width: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}


/*  576 to 768 */

@media screen and (max-width:768px) {}


/*  769 to 992 */

@media screen and (max-width:992px) {}


/*  993 to 1200 */

@media screen and (max-width:1200px) {}


/*  1201 to 1400 */

@media screen and (max-width:1400px) {}


/*  1401 ahead */

@media screen and (max-width:1920px) {}